.header {
  display: block;
  /* border: 1px solid; */
}

.d-inline-block {
  /* border: 1px solid; */
  width : 150px;
  height : 150px;
  vertical-align: top;
}

.d-flex {
  display: flex;
  width : 500px;
  align-items: center;
}

.ljc .login {
  /* border: 1px solid; */
  padding: auto;
}

