.header {
  display: block;
  /* border: 1px solid; */
}

.d-inline-block {
  /* border: 1px solid; */
  width : 150px;
  height : 150px;
  vertical-align: top;
}

.d-flex {
  display: flex;
  /* border: 1px solid; */
  width : 500px;
  align-items: center;
}

.d-flex input[type="search"] {
  /* 추가된 부분 */
  flex-grow: 1;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.d-flex button {
  /* 추가된 부분 */
  background-color: #ffc107;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}

.ljc {
  /* border: 1px solid; */
}

.ljc .login {
  /* border: 1px solid; */
  padding: auto;
}

.ljc .join {
  /* border: 1px solid; */
}

.ljc .cart {
  /* border: 1px solid; */
}

