.slideimg{
  /* border: 1px solid blue; */
  text-align: center;
}

.imgBox{
  /* border: 1px solid red; */
  text-align: center;
  margin: auto;
  width: 1320px;
  height: 600px;
}

img {
  /* border:  1px solid yellow; */
  object-fit: contain;

}
