.now {
   /* border: 1px solid; */
}

.pd-img {
   text-align: left;
   /* border: 1px solid; */
   margin-left: 150px;
   margin-top: 30px;
   margin-bottom: 20px;
}  


.denav {
   text-align: center;
   padding: auto;
   margin-left: 200px;
    width: 80%;
}

.pd-1 {
   
   /* border: 1px solid; */
   font-family: 'intelone-mono-font-family-regular';
   margin-left: 150px;
}

.pt-1 {
   
   display: flex;
}
