.slideimg{
  border: 1px solid red;
  text-align: center;
  width: 1080px;

}

.imgBox{
  border: 1px solid;
  width: 1080px;
  height: 566px;
  text-align: center;
  margin: auto;
  
}

.img {
  background-position: center;
  position: absolute;
  max-width: 800px;
  max-width: 400px;
  object-fit: cover;
}

